<nav id="navigation">

    
    <div class="titre">
        <h1>Blog</h1>
    </div>

    <div class="accueil">
        <div class="categories"><a href="">Catégories</a> </div>

    {% if app.user %}
    <div class="connexion">
            <div class="inscription"><a href="">Se déconnecter</a> </div>
            <div class="inscription"><a href="">Profil</a> </div>
        </div>
    {% else %}
        <div class="connexion">
            <div class="inscription"><a href="{{ path('app_login') }}">Se connecter</a> </div>
            <div class="inscription"><a href="{{ path('app_register') }}">S'inscrire</a> </div>
        </div>
     {% endif %}
    </div>
    

</nav>