<nav id="navigation">

    
    <div class="titre">
        <h1>Blog</h1>
    </div>

    <div class="accueil">
        <div class="categories"><a href="">Catégories</a> </div>

        <div class="connexion">
            <div class="inscription"><a href="">Se connecter</a> </div>
            <div class="inscription"><a href="">S'inscrire</a> </div>
        </div>
        
    </div>
    

</nav>