{% extends 'base.html.twig' %}

{% block body %}

<div id="block-body">

    <div class="ligne">
    {% for article in articles %}
        <div class="articles">
            <h2>{{ article.title }}</h2>

            <div class="image">
            image
            </div>

            <div class="description">
            {{ article.content }}
            </div>
        </div>
 {% endfor %}
        <div class="articles">
            <h2>titre</h2>

            <div class="image">
                image
            </div>

            <div class="description">
            description
            </div>
        </div>

        <div class="articles">
            <h2>titre</h2>

            <div class="image">
            image
            </div>

            <div class="description">
            description
            </div>
        </div>
    </div>


        <div class="ligne">
        <div class="articles">
            <h2>titre</h2>

            <div class="image">
            image
            </div>

            <div class="description">
            description
            </div>
        </div>

        <div class="articles">
            <h2>titre</h2>

            <div class="image">
                image
            </div>

            <div class="description">
            description
            </div>
        </div>

        <div class="articles">
            <h2>titre</h2>

            <div class="image">
            image
            </div>

            <div class="description">
            description
            </div>
        </div>
    </div>
    
</div>

    

{% endblock %}
