{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="articles">
    <h2>titre {{ controller_name }}! ✅</h2>

    <div class="image">
    
    </div>
</div>
{% endblock %}
