* {
    margin: 0;
}
body {
    height: auto;
}

        /*!--------------------------------------- nav -----------------------------*/
        /*!-------------------------------------------------------------------------*/

#navigation {
    height: 15vh;
    width: 100%;

    background-color: rgb(89, 209, 125);
    
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.555);

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
}

.titre {
    height: 60%;
    width: 100%;

    display: flex;
    justify-content: center ;
    align-items: center;
}

h1 {
    color:rgb(255, 255, 255);

    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);

    font-family: 'Fira Sans', sans-serif;
    font-size: 240%;
}

.accueil {
    height: 30%;
    width: 77%;

    display: flex;
    justify-content: center ;
    align-items: center;

    font-family: 'Fira Sans', sans-serif;

    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
}

.creer {
    height: 100%;
    width: 15%;
}

.home {
    height: 100%;
    width: 10%;
}

.connexion {
    height: 100%;
    width: 20%;

    gap: 10%;

    display: flex;
    justify-content: center ;
    align-items: center;

    position: relative;
    left: 35%;
}

.inscription {
    height: 100%;

    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.categories {
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: space-around ;
    align-items: center;

    position: relative;
    left: 7.5%;

    font-size: 120%;
    font-weight: 600;
}

.lien-menu {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around ;
    align-items: center;

    text-decoration: none;
    color: rgb(255, 255, 255);
}

        /*!--------------------------------------- fin nav -----------------------------*/
        /*!-----------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------------------*/



        /*!--------------------------------------- login -----------------------------*/
        /*!---------------------------------------------------------------------------*/
        
#login {
    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Fira Sans', sans-serif;

    background-color: rgba(243, 243, 243, 0.664);
    
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.425);

    border-radius: 10px;
}

.interface-login {
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre-connexion {
    height: 50px;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(89, 209, 125);

    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.425);

    color:rgb(255, 255, 255);
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
    font-size: 130%;

    border-radius: 5px;
}

.champs{
    height: 25%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.champ {
    height: 25px;
    width: 100%;

    border: 1px solid rgb(89, 209, 125);
    border-radius: 5px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
}

.bouton-connexion {
    height: 35px;
    width: 130px;

    background-color: rgb(89, 209, 125);

    border: 1px solid rgb(89, 209, 125);
    border-radius: 5px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);

    color:rgb(255, 255, 255);
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
    font-size: 90%;
    font-weight: 600;
}

.bouton-connexion:hover {
    cursor: pointer;
}


        /*!--------------------------------------- fin login -----------------------------*/
        /*!-------------------------------------------------------------------------------*/


        
/*---------------------------------------------------------------------------------------------------------------------------*/
        

        /*!--------------------------------------- contenu page acceuil -----------------------------*/
        /*!------------------------------------------------------------------------------------------*/

#block-body {
    height: 70vh;
    width: 100%;

    background-color: rgb(243, 243, 243);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3%;
    
    flex-wrap: wrap;
}

/* .ligne {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 3%;
    
    flex-wrap: wrap;
} */

.articles {
    height: 30vh;
    width: 25vw;

    background-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.534);
}

h2 {
    height: 12%;
    width: 100%;

    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);

    background-color: rgb(89, 209, 125);

    display: flex;
    justify-content: center;

    font-family: 'Fira Sans', sans-serif;
    font-size: 150%;
}

.image {
    height: 70%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    height: 18%;
    width: 98%;

    background-color: rgb(89, 209, 125);

    flex-wrap: wrap;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fira Sans', sans-serif;

    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);

    padding-left: 2%;
}

        /*!--------------------------------------- fin contenu page acceuil -----------------------------*/
        /*!----------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------------------*/



        /*!--------------------------------------- contenu page tous articles -----------------------------*/
        /*!------------------------------------------------------------------------------------------------*/
        
#contenu-articles {
    height: 70%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}     

.article-complet {
    height: 30vh;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 2%;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
}

.titre-article {
    height: 15%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(89, 209, 125);

    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
}   

.contenu-article {
    height: 80%;
    width: 100%;
    padding-top: 1%;

    display: flex;
    justify-content: center;

    font-family: 'Fira Sans', sans-serif;
    flex-wrap: wrap;
    overflow: hidden;
}   

.date-article {
    height: 15%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(231, 231, 231);
}   

.actions-article {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fira Sans', sans-serif;

    background-color: rgb(231, 231, 231);

    gap: 5%;
}  

.actions {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: rgb(0, 0, 0);
}

.creer-article {
    height: 40px;
    width: 230px;

    text-decoration: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);

    margin-top: 1%;
    margin-bottom: 5%;

    background-color: rgb(89, 209, 125);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
}

        /*!--------------------------------------- contenu page tous articles -----------------------------*/
        /*!------------------------------------------------------------------------------------------------*/
        

/*---------------------------------------------------------------------------------------------------------------------------*/

        
        /*!--------------------------------------- contenu page un article -----------------------------*/
        /*!---------------------------------------------------------------------------------------------*/
        
#page_article {
    height: 70vh;
    width: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.affichage_contenu_article {
    height: 90%;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Fira Sans', sans-serif;
}

.titre_contenu_article {
    height: 8%;
    width: 100%;

    margin-bottom: 2%;

    background-color: rgb(89, 209, 125);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
    font-size: 150%;
    font-weight: 600;
}

.contenu_article {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.date_contenu_article {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}
        
        /*!--------------------------------------- fin contenu page un article -----------------------------*/
        /*!-------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------------------------------------------------*/




        /*!--------------------------------------- page creation article -----------------------------*/
        /*!-------------------------------------------------------------------------------------------*/
        
#creation_article {
    height: 70vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation_article {
    height: 90%;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Fira Sans', sans-serif;

    gap: 5%;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
    border-radius: 10px;

}

.titre-crea-article {
    height: 15%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

        .champ_titre {
            height: 100%;
            width: 50%;

            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.26);
        }

.contenu {
    height: 80%;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

        .champ_contenu {
            height: 90%;
            width: 80%;

            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
            border: 1px solid rgba(0, 0, 0, 0.26);
            border-radius: 5px;
        }

.auteur {
    height: 20%;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

        .champ_auteur {
            height: 40%;
            width: 30%;

            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.26);
        }

.categorie {
    height: 20%;
    width: 80%;
     
    display: flex;
    align-items: center;
    flex-direction: column;
}
        
        .champ_categorie {
            height: 40%;
            width: 30%;

            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.425);
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.26);
        }
        
        /*!--------------------------------------- fin creation article -----------------------------*/
        /*!------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------*/



        /*!--------------------------------------- footer -----------------------------*/
        /*!----------------------------------------------------------------------------*/

footer {
    height: 11vh;
    width: 100%;

    background-color: rgb(89, 209, 125);
    box-shadow: 0px -3px 6px -1px rgba(0, 0, 0, 0.555);

}


        /*!--------------------------------------- fin footer -----------------------------*/
        /*!--------------------------------------------------------------------------------*/